* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: white;
}

#main:hover {
    transition: 3s;
    background-color: rgb(181, 103, 103);


}

#nav {
    width: 100%;
    height: 100px;
    /* background-color: rgb(47, 107, 160); */
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#nav #part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;

}

#nav #part1 h2 {
    border: 1px solid black;
    font-size: 20px;
    padding: 1px 6px;
    border-radius: 10px;
}

#nav #part1 i {
    border: 1px solid black;
    font-size: 20px;
    margin: 0 5px;
    padding: 3px;
    border-radius: 50%;
}




#part3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 18px;
}

#part3 #btn1 {
    font-size: 16px;
    border: 1px solid black;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 9px;
    padding: 2px 5px;
    margin: 1px;
}

#part3 #btn1:hover {
    background-color: red;
}

#part3 #btn2 {
    font-size: 16px;
    border: 1px solid black;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 9px;
    padding: 2px 5px;
    background-color: rgb(223, 94, 7);
}

#h {
    font-size: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    background: url("https://unsplash.com/photos/a-woman-in-a-red-dress-standing-in-a-canyon-LaZfUnbyAmA");
}



img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);


}

#img1 {
    transform: translate(-50%, -50%) rotate(-30deg);
}

#img2 {
    transform: translate(-50%, -50%) rotate(-20deg);
}

#img3 {
    transform: translate(-50%, -50%) rotate(-10deg);
}

#btm {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 15px;
}

#btm-right {
    position: absolute;
    bottom: 5%;
    right: 5%;
}